@mixin inputFields($isButton: false, $padding: 5px 10px) {
  $background: #eee;
  $color: #333;
  @if $isButton {
    $background: #333;
    $color: #eee;
  }
  padding: $padding;
  width: 200px;
  min-width: auto;
  max-width: 100%;
  background: $background;
  color: $color;
  @if $isButton {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

html, body {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: initial;
}

::selection {
  background: $color-main;
  color: #fff;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #eee;

  &-thumb {
    background: #bbb;
  }
}

body {
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  background: $color-clear;
  color: $color-main;
}

a {
  transition: all 0.2s ease-in-out;
  color: $color-main; 
  text-decoration: none;
  cursor: pointer !important;

  &:is(:hover, :focus) {
    color: $color-main; 
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

